[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
notebook = "*"
tensorflow = "==2.4.0"
scikit-learn = "*"
keras = "*"
scikit-image = "*"

[dev-packages]

[requires]
python_version = "3.8"
